body {
    font-family: sans-serif;
    text-align: center;
    /* height: 100vh; */
  }
  
  .form-creator-container {
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    max-width: 600px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  .field-label-container {
    display: block;
    margin: 10px;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    vertical-align: middle;
    float: left;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    /* padding: 10px; */
    font-size: 16px;
    /* margin-top: 10px; */
    display: block;
    width: 50%;
    float: left;
    max-width: 300px;
    margin: 0 auto;
  }
  
  #add-field-btn {
    margin: 50px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .delete-btn {
    background-color: #f44336;
    float: right;
    margin-top: -35px;
  }
  
  .form-field {
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .form-creator-container {
      width: 90%;
    }
  }
  