*{
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.createform-wrapper .header-container{
  padding:5px;
  margin:0px;
}

.createform-wrapper #site-title{
  color: #ffffff;
  text-shadow:  0 2px 8px rgb(0 0 0 / 33%);
}

.createform-wrapper #top-container {
  display: flex;
  justify-content: center;
}

.createform-wrapper .main-form-container {
  
 width: 60%;
  text-align: center;
  
}

.createform-wrapper .form-item {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  transition: all .3s ease;
  border-radius: 2px;
}

.createform-wrapper .main-form-container  .title-container  {
 border-top: 8px solid rgb(140, 0, 255);

}

.createform-wrapper .main-form-container  .title-container  h4 {
  color:rgb(155, 134, 134);
}


.createform-wrapper .success-div {

  width: 60%;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 100px;
  background-color: white;
  padding: 50px 20px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  transition: all .3s ease;
  border-radius: 2px;
}

.createform-wrapper img.success-icon {
  width: 50px;
  height: 50px;
}

.createform-wrapper p.success-message {
  font-size: 25px;
  margin-bottom: 60px;
}

.createform-wrapper a.success-button {
  font-size: 15px;
  /* margin-top: 40px; */
  padding: 10px;
  background-color: #5451fb;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  transition: all .3s ease;
  text-decoration: none;
  margin: 100px 10px;
}

.createform-wrapper div#result {

  border-radius: 10px;
  margin-top: 50px;
  padding:20px;
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.createform-wrapper #result {
  font-size:30px;
  color: #ffffff;
}

.createform-wrapper #result > a {
  color: #ffffff;    
  cursor: pointer;
}

.createform-wrapper .side-container{
 
  margin-left:5%; 
  transform: translate(0%, 50%);
}

.createform-wrapper #plus-btn{
  background-color: white;
  border: none;
  color: #9796f0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  text-align: center;
  border-radius: 10px;
 
}

.createform-wrapper #options {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  opacity: 1;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.createform-wrapper .option-text{
  font-size:16px;
 
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  color:#9796f0;
  
  text-align: left;
}

.createform-wrapper .option-text:hover{
  color:#ffffff;
  background-color:#9796f0;
}

.createform-wrapper .hidden {
 opacity: 0 !important;
 display: none;
}

.createform-wrapper .user-form-item {
  text-align: left;
  padding: 20px 45px;
  border-left: #39478c solid 8px;
}

.createform-wrapper .user-form-text-item > label {
  display: block;
}

.createform-wrapper .user-form-text-item > input {
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 35px;
}

.createform-wrapper label.input-label {
  text-align: left;
  color: #b0a2e9;
  font-weight: bold;
  margin-top: 20px;
}

.createform-wrapper input.question-field {
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-bottom: 1px solid #afa2e8;
  padding: 20px;
  background-color: #fefefe;
  margin-top: 30px;
}

.createform-wrapper input.question-field::placeholder{
  color:#afa2e8;
}

.createform-wrapper input.option-button-type {
  width: 20px;
  height: 20px;
}


.createform-wrapper input.choice-field {
  border: 1px solid #afa2e8;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  
}

.createform-wrapper input.choice-field::placeholder{
  color: #aaa;
}

.createform-wrapper input[type="email"]{
  border: 1px solid #afa2e8;
  border-radius: 10px;
  padding: 5px 20px;
  width: 50%;
  text-align: center;
}


.createform-wrapper .question-footer {
  margin-top: 20px;
  text-align: right;
  border-top: 1px  ;
}

.createform-wrapper button.btn-add-choice {
  margin-left: 10px;
  background: #a29bed;
  border: none;
  color: white;
  padding: 5px;
  margin-top: 10px;
}

.createform-wrapper button.delete-button {
  margin-left: 10px;
  background: #a29bed;
  border: none;
  color: white;
  padding: 5px;
}

.createform-wrapper .delete-icon {
  height: 16px;
  width: 20px;
  margin-left: 10px;
  position: relative;
  top: 7px;
}

.createform-wrapper .submit-btn {
  font-size: 20px;
  margin-top: 40px;
  padding: 15px;
  background-color: #5451fb;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
  transition: all .3s ease;
}


/* spinner css */

.createform-wrapper #spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.createform-wrapper .spinner-animation {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* spinner css */


/* required toggle */

.createform-wrapper .question-footer .switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 10px;
}

/* Hide default HTML checkbox */
.createform-wrapper .question-footer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.createform-wrapper .question-footer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  -webkit-transition: .4s;
  transition: .4s;
}

.createform-wrapper .question-footer .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 19px;
  right: 18px;
  bottom: -3px;
  background-color: rgb(147, 45, 132);
  -webkit-transition: .4s;
  transition: .4s;
}

.createform-wrapper .question-footer input:checked + .slider {
  background-color: #67a5d7;
}

.createform-wrapper .question-footer input:focus + .slider {
  box-shadow: 0 0 1px  #67a5d7;
}

.createform-wrapper .question-footer input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.createform-wrapper .question-footer .slider.round {
  border-radius: 34px;
}

.createform-wrapper .question-footer .slider.round:before {
  border-radius: 50%;
}

/* required toggle */




/* footer nav bar */

/* .footer-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0%;

} */

/* footer nav bar */



.createform-wrapper .ms-container .mc-answer-container .ans-choice {
  margin-top: 20px;
}

.createform-wrapper .ms-container .mc-answer-container input[type = text] {
   width: 80%;
   margin-left: 10px;
   border: none;
   border-bottom: 1px solid rgb(172, 142, 224);
   outline: none;
}

.createform-wrapper .ms-container .choice-delete-icon::after {
  /* display: inline-block; */
  content: "\00d7"; /* This will render the 'X' */
  font-size: 20px;
  font-weight: 200;
  margin-left: 30px;
  position: relative;
  top: 4px;
}


.createform-wrapper .success-icon {
  border: 2px solid rgb(158, 61, 155);
  border-radius: 50%;
  color: rgb(143, 81, 143);
}

.createform-wrapper span#required-text {
  position: relative;
  top: 6px;
  right: 10px;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}





.createform-wrapper .login-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.createform-wrapper .login-container  input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.createform-wrapper .login-container .submit-icon {
  /* background-color: #4CAF50; */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


/* .form-nav-container {
    padding-bottom: 0%;
}

.form-nav-container .tab-panel {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 50px;
} */


.createform-wrapper .tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

.createform-wrapper .tab {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.createform-wrapper .tab:hover {
  background-color: #e9e9e9;
}

.createform-wrapper .tab.active {
  background-color: #ccc;
  border-color: #999;
  color: #666;
}

.createform-wrapper .tab-content {
  opacity: 0;
  transition: opacity 0.5s;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.createform-wrapper .tab-content.active {
  opacity: 1;
}




/* My Forms Css */

.createform-wrapper #form-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.createform-wrapper .form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 10px;
}

.createform-wrapper .form-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.createform-wrapper .createform-wrapper .button-container {
  display: inline-block;
  width: 100%;
}

.createform-wrapper .form-button {
  padding: 5px 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
}

.createform-wrapper .form-button:last-child {
  margin-right: 0;
}

.createform-wrapper .form-button:hover {
  background-color: #2c3e50;
}

/* My Forms Css */








/**** custom ***/

.createform-wrapper a.form-button {
  font-size: medium;
}

.createform-wrapper button.form-button {
  font-size: medium;
  font-weight: 400;
}

.createform-wrapper button.option-text {
  margin: 0px;
  margin-top: 2px;
  background-color: white;
}