footer {
    position: fixed;
    bottom: 0;
}

.section.thankyou-container{
    width: 50%;
    margin: auto;
    margin-top: 10vh;
    border-top: 5px red solid;
    
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}